<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Food Item</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    {% include "myapp/navbar.html" %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="POST" action="/updatefooditem/{{food_eitem.id}}">
                    {% csrf_token %}
                    <h3 class="text-center mb-4">Update Details</h3>

                    <div class="form-group">
                        <label for="food_ename">Food Name</label>
                        <input type="text" class="form-control" name="food_ename" id="food_ename" 
                        value="{{ food_eitem.food_name }}" required>
                    </div>

                    <div class="form-group">
                        <label for="food_cat">Food Category</label>
                        <input type="text" class="form-control" name="food_cat" id="food_cat" 
                        value="{{ food_eitem.food_category }}" required>
                    </div>

                    <div class="form-group">
                        <label for="food_cal">Calories</label>
                        <input type="text" class="form-control" name="food_cal" id="food_cal" 
                        value="{{ food_eitem.food_calorie }}">
                    </div>

                    <div class="form-group">
                        <label for="fprice">Price</label>
                        <input type="text" class="form-control" name="fprice" id="fprice" 
                        value="{{ food_eitem.fprice }}">
                    </div>

                    <button type="submit" class="btn btn-success btn-block">Update</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
