<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

       <a href="{% url 'viewtables' %}"><h1>See Details</h1></a>
<a href="{% url 'fb' %}"><h1>Enter Buy Details</h1></a>
<a href="{% url 'fc' %}"><h1>Enter Consumed Details</h1></a>
<a href="{% url 'ff' %}"><h1>Enter food lifespans</h1></a>
<a href="{% url 'calcount' %}"><h1>diet plan</h1></a>
<h1>edit </h1>

<center>
    <form method ="POST" action="/updatefreezeritem/{{fz_item.id}}">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class ="col-sm-4">
                    <h3>update details </h3>
                </div>
            </div>
            <div class="form-group row">
                 <label class="col-sm-2 col-form-label">Id</label>
                 <div class ="col-sm-4">
                    <input type="text" name="nid" id="id" required maxlength="20"
                    value="{{ fz_item.id}}"/>
                 </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Food brought</label>
                    <div class ="col-sm-4">
                   <input type="text" name="ffbought" id="fbought" required maxlength="100"
                    value="{{ fz_item.ffbought }}" />
                        </div>
                        </div>


  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Food lifespan(freeze)</label>
                    <div class ="col-sm-4">
                   <input type="text" name="flfreeze" id="" required maxlength="100"
                    value="{{ fz_item.ffreeze }}" />
                        </div>
                        </div>

     <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Food lifespan(non-freeze)</label>
                    <div class ="col-sm-4">
                   <input type="text" name="flnfreeze" id="" required maxlength="100"
                    value="{{ fz_item.fnfreeze }}" />
                        </div>
                        </div>






                    <div class="form-group row">
                 <label class="col-sm-1 col-form-label"></label>
                 <div class ="col-sm-4">
                    <input type="submit" class="btn btn-success">update </button>
                 </div>
                </div>
                </div>
                </form>
                </center>
                </body>
                </html>









  </body>
</html>