<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% include "myapp/navbar.html" %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="text-center mb-4">Update Details</h3>
                
                <form method="POST" action="/updatefreezeritem/{{ fz_item.id }}">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" name="nid" id="id" required maxlength="20" value="{{ fz_item.id }}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="ffbought">Food Brought</label>
                        <input type="text" class="form-control" name="ffbought" id="ffbought" required maxlength="100" value="{{ fz_item.ffbought }}">
                    </div>

                    <div class="form-group">
                        <label for="flfreeze">Food Lifespan (Freeze)</label>
                        <input type="text" class="form-control" name="flfreeze" id="flfreeze" required maxlength="100" value="{{ fz_item.ffreeze }}">
                    </div>

                    <div class="form-group">
                        <label for="flnfreeze">Food Lifespan (Non-Freeze)</label>
                        <input type="text" class="form-control" name="flnfreeze" id="flnfreeze" required maxlength="100" value="{{ fz_item.fnfreeze }}">
                    </div>

                    <button type="submit" class="btn btn-success btn-block">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
