<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include "myapp/navbar.html" %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="POST" action="/updatefbitem/{{ fb_item.id }}">
                    {% csrf_token %}
                    <h3 class="text-center mb-4">Update Details</h3>

                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" name="nid" id="id" required maxlength="20" value="{{ fb_item.id }}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="fbought">Food Bought</label>
                        <input type="text" class="form-control" name="nfbought" id="fbought" required maxlength="100" value="{{ fb_item.fbought }}">
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="nffreeze" id="nffreeze" {% if fb_item.freeze %}checked{% endif %}>
                        <label class="form-check-label" for="nffreeze">Check if frozen</label>
                    </div>

                    <div class="form-group">
                        <label for="famount">Food Amount</label>
                        <input type="text" class="form-control" name="nfamount" id="famount" required maxlength="20" value="{{ fb_item.fbamount }}">
                    </div>

                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="text" class="form-control" name="ndate" id="date" required maxlength="20" value="{{ fb_item.date }}">
                    </div>

                    <div class="form-group">
                        <label for="fcategory">Food Category</label>
                        <select class="form-control" name="fcategory" id="fcategory">
                            <option value="{{ fb_item.fcategory }}" disabled selected>{{ fb_item.fcategory }}</option>
                            {% for category in categories %}
                                <option value="{{ category.food_category }}">{{ category.food_category }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success btn-block">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
