<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Freeze Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    {% include "myapp/navbar.html" %}

    <div class="container mt-5">
        <h1 class="text-center mb-4">Food Freeze Details</h1>
        <form name="register" method="post" action="../insert_ffreeze/">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="ffbought">Food Bought</label>
                <input type="text" class="form-control" name="ffbought" id="ffbought" required>
            </div>

            <div class="form-group">
                <label for="flfreeze">Food Lifespan (Freeze)</label>
                <input type="text" class="form-control" name="flfreeze" id="flfreeze" required>
            </div>

            <div class="form-group">
                <label for="flnfreeze">Food Lifespan (Non-Freeze)</label>
                <input type="text" class="form-control" name="flnfreeze" id="flnfreeze" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>

</body>
</html>
