<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    {% include "myapp/navbar.html" %}

    <div class="container mt-5">
        <h1 class="text-center mb-4">Food Details</h1>
        <form name="register" method="post" action="../insert_food_cat/">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="food_name">Food Name</label>
                <input type="text" class="form-control" name="food_name" id="food_name" required>
            </div>

            <div class="form-group">
                <label for="food_cat">Food Category</label>
                <input type="text" class="form-control" name="food_cat" id="food_cat" required>
            </div>

            <div class="form-group">
                <label for="fcals">Calories</label>
                <input type="text" class="form-control" name="fcals" id="fcals" required>
            </div>

            <div class="form-group">
                <label for="fprice">Price</label>
                <input type="text" class="form-control" name="fprice" id="fprice" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>

</body>
</html>
