<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="{% url 'viewtables' %}"><h1>See Details</h1></a>
<a href="{% url 'fb' %}"><h1>Enter Buy Details</h1></a>
<a href="{% url 'fc' %}"><h1>Enter Consumed Details</h1></a>
<a href="{% url 'ff' %}"><h1>Enter food lifespans</h1></a>
    
    <center>
        <h3>Food brought <h3>
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>fbought</th>
                     <th>freeze?</th>
                    <th>fbamount</th>
                     <th>category</th>
                    <th>date</th>
                     <th>Expiry date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in bought_data %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.fbought }}</td>
                    
                      <td>{{ obj.freeze }}</td>
                    <td>{{ obj.fbamount }}</td>
                    <td>{{ obj.fcategory }}</td>
                 <td>{{ obj.date|date:"M j, Y" }}</td>
<td>{{ obj.expiry|date:"M j, Y" }}</td>

                    <td>
                        <a href="/deletefbitem/{{ obj.id }}">delete</a>
                       <a href="/editfbitem/{{ obj.id }}">Edit</a>


                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
<br>
<br>
<br>
<br>

    <center>
         <h3>Food consumed<h3>
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>fconsumed</th>
                    <th>fcamount</th>
                     <th>frozen?</th>
                    <th>date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in consumed_data %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.fconsumed }}</td>
                    <td>{{ obj.fcamount }}</td>
                      <td>{{ obj.food_freeze }}</td>
                 <td>{{ obj.date|date:"M j, Y" }}</td>

                  <td>
                        <a href="/deletefcitem/{{ obj.id }}">delete</a>
                         <a href="/editfcitem/{{ obj.id }}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>

<br>
<br>
<br>
<center>
     <h3>Food freeze info <h3>
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>fbought</th>
                    <th>food life freeze</th>
                    <th>food life without freeze</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in freezer_data %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.ffbought }}</td>
                    <td>{{ obj.ffreeze }}</td>
                    <td>{{ obj.fnfreeze }}</td>
                  <td>
                        <a href="/deletefreezeritem/{{ obj.id }}">delete</a>
                         <a href="/editfreezeritem/{{ obj.id }}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>

<br>
<br>
<br>

<center>
    <h3> Food left  <h3>
<table>
    <tr>
        <th>ID</th>
        <th>Food Bought</th>
        <th>Frozen?</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Expiry Date</th>
        <th>Actions</th>
    </tr>
    {% for item in bought_expiry %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.fbought }}</td>
        <td>{{ item.freeze }}</td>
        <td>{{ item.fbamount }}</td>
       <td>{{ item.date|date:"M j, Y" }}</td>
<td>{{ item.expiry_date|date:"M j, Y" }}</td>
        <td><!-- Actions like delete, edit --></td>
    </tr>
    {% endfor %}
</table>

</center> 

<center>
    <h3>Food details </h3>
<table>
    <tr>
        <th>Food name</th>
        <th>Food Calorie</th>
        <th>food Category</th>
        <th>Food Price</th>
    </tr>
    {% for item in foods %}
    <tr>
        <td>{{ item.food_name }}</td>
        <td>{{ item.food_calorie }}</td>
       
        <td>{{ item.food_category }}</td>
        <td>{{ item.fprice }}</td>

        <td><!-- Actions like delete, edit --></td>
    </tr>
    {% endfor %}
</table>

</center>

</body>
</html>
